.flexconteiner{
    display: flex;
    border: 1px solid black;
    max-width: 350px;
    margin-bottom: 20px;
}

.item{
    flex: 1;
    background-color:blue;
    font-size:24px;
    text-align:center;
    margin: 5px;
    color:white;
}

.direction{
    flex-direction: column;
}
.or1{
    order: 1;
}

.or2{
    order: 2;
}

.or3{
    order: 3;
}

.or4{
    order: 4;
}
